<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='WSDD - WebStack Deployer for Docker'
        UpgradeCode='C9CD77B6-E415-4341-934B-1F7D2866B716'
        Manufacturer='OpsZone Dev'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='WebStack Deployer for Docker - Local Docker stack manager'
            Manufacturer='OpsZone Dev'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            AllowSameVersionUpgrades='yes'
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='WSDD Installation'/>

        <!-- Product icon -->
        <Icon Id='ProductICO' SourceFile='$(var.CargoTargetBinDir)\wsdd.exe'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='WSDD'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='LicenseTxt' Guid='*'>
                        <File Id='LicenseTxtFile'
                            Name='LICENSE.txt'
                            DiskId='1'
                            Source='recursos\recursos\COPYRIGHT\LICENSE.txt'/>
                    </Component>
                    <Component Id='LicenseTxtEs' Guid='*'>
                        <File Id='LicenseTxtEsFile'
                            Name='LICENSE.es.txt'
                            DiskId='1'
                            Source='recursos\recursos\COPYRIGHT\LICENSE.es.txt'/>
                    </Component>
                    <Component Id='LicenseTxtFr' Guid='*'>
                        <File Id='LicenseTxtFrFile'
                            Name='LICENSE.fr.txt'
                            DiskId='1'
                            Source='recursos\recursos\COPYRIGHT\LICENSE.fr.txt'/>
                    </Component>
                    <Component Id='LicenseTxtHi' Guid='*'>
                        <File Id='LicenseTxtHiFile'
                            Name='LICENSE.hi.txt'
                            DiskId='1'
                            Source='recursos\recursos\COPYRIGHT\LICENSE.hi.txt'/>
                    </Component>
                    <Component Id='LicenseTxtZh' Guid='*'>
                        <File Id='LicenseTxtZhFile'
                            Name='LICENSE.zh.txt'
                            DiskId='1'
                            Source='recursos\recursos\COPYRIGHT\LICENSE.zh.txt'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='wsdd.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\wsdd.exe'
                                KeyPath='yes'/>
                        </Component>
                        <Component Id='binaryLauncher' Guid='*'>
                            <File
                                Id='exeLauncher'
                                Name='wsdd-launcher.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\wsdd-launcher.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <!-- Start Menu shortcut -->
            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='WSDD'>
                    <Component Id='ApplicationShortcut' Guid='*'>
                        <Shortcut Id='ApplicationStartMenuShortcut'
                            Name='WSDD - WebStack Deployer for Docker'
                            Description='Local Docker stack manager for PHP development'
                            Target='[Bin]wsdd-launcher.exe'
                            WorkingDirectory='Bin'/>
                        <RemoveFolder Id='CleanUpShortCut' Directory='ApplicationProgramsFolder' On='uninstall'/>
                        <RegistryValue Root='HKCU' Key='Software\OpsZone\WSDD' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs WSDD and the license files.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='LicenseTxt'/>
            <ComponentRef Id='LicenseTxtEs'/>
            <ComponentRef Id='LicenseTxtFr'/>
            <ComponentRef Id='LicenseTxtHi'/>
            <ComponentRef Id='LicenseTxtZh'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='binaryLauncher'/>
            <ComponentRef Id='ApplicationShortcut'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>

</Wix>
